<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DynProj_01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletDemo_01</display-name>
    <servlet-name>ServletDemo_01</servlet-name>
    <servlet-class>com.dxc.servlet.ServletDemo_01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo_01</servlet-name>
    <url-pattern>/sd1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login_01</display-name>
    <servlet-name>login_01</servlet-name>
    <servlet-class>com.dxc.servlet.login_01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_01</servlet-name>
    <url-pattern>/lg1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JdbcServlet</display-name>
    <servlet-name>JdbcServlet</servlet-name>
    <servlet-class>com.dxc.servlet.JdbcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcServlet</servlet-name>
    <url-pattern>/jdbcservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>com.dxc.servlet.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/lg</url-pattern>
  </servlet-mapping>
</web-app>